<div class="homepage">
    <div class="homepage-left">
        <div class="left-text">
            <span id="left-large-text">Studying Angular Framework from home by myself</span>
            <span id="left-small-text">The modern web developer's platform</span>
            <div class="left-buttons">
                <a mat-stroked-button class="start-learning" href="https://angular.io/" target="_blank">Start learning</a>
                <a mat-stroked-button class="start-learning" href="https://www.youtube.com/watch?v=Ati-oip_HcU&ab_channel=edureka%21" target="_blank">
                    <mat-icon id="play-icon" aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
                    Watch Video
                </a>
            </div>
        </div>
    </div>
    <div class="homepage-right">
        <img class="right-image" src="..\..\assets\responsive-framework.png" alt="Logo" />
    </div>
</div>